@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
#pintaDown {
  transform: rotate(180deg);
}

#carta {
  background-color: white;
  width: 150px;
  height: 250px;
  border-radius: 10px;
}
